$background: #f1f4f6;
$title: #0f2d45;
$label-color: #4c6172;
$fieldset-background: #e8e8e8;
$button-send: #265ba3;
$light-blue: #265ba3;
$image-buttons: black;
$image-buttons-hover: white;
$caption-text: black;
$numbertext: black;
