// Scss variables files
@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  color: #5a5c69;
  font-family: "Roboto", sans-serif;
  background-color: $background;
  margin: 0;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    transition: ease-in-out 0.4s;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $light-blue;
    }
  }
}

.carousel {
  display: flex;
  justify-content: center;

}

.info {
  display: flex;
  justify-content: center;
  background-color: #faf9f8;

  .info-left {
    float: left;
    padding: 50px 0 0 50px;
  }

  .info-right {
    float: right;
    padding: 50px 50px 0 0;
  }
  .info-button {
    background-color: indianred;
    color: white;
    border: 0;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 2px;
    height: 50px;
    width: 200px;
    padding: 0 20px 0 20px;
    transition: ease-in-out 0.3s;
    margin: 20px 0 50px 0;
    -webkit-box-shadow: 10px 9px 4px -5px rgba(184, 184, 184, 1);
    -moz-box-shadow: 10px 9px 4px -5px rgba(184, 184, 184, 1);
    box-shadow: 10px 9px 4px -5px rgba(184, 184, 184, 1);

    &:hover {
      opacity: 85%;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;

  fieldset {
    border: 0;
    background-color: $fieldset-background;
    width: 350px;
    -webkit-box-shadow: 10px 9px 4px -5px rgba(184, 184, 184, 1);
    -moz-box-shadow: 10px 9px 4px -5px rgba(184, 184, 184, 1);
    box-shadow: 10px 9px 4px -5px rgba(184, 184, 184, 1);
    padding-left: 50px;
  }

  .button-send {
    background-color: $button-send;
    color: white;
    border: 0;
    border-radius: 2px;
    height: 30px;
    padding: 0 20px 0 20px;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    transition: ease-in-out 0.3s;

    &:hover {
      opacity: 85%;
    }
  }

  .form-title {
    text-align: left;
    font-size: 20px;
    color: $title;
    text-transform: uppercase;
  }

  .grupo {
    padding-bottom: 20px;
    float: left;
    text-align: left;
    label {
      // margin-bottom: 0.2em;
      color: $label-color;
      margin-bottom: 2em;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"] {
      padding: 0.2em;
      width: 250px;
      display: block;
      margin-bottom: 2em;
      border: none;
      height: 20px;
      -webkit-box-shadow: 2px 2px 2px -2px rgba(184, 184, 184, 1);
      -moz-box-shadow: 2px 2px 2px -2px rgba(184, 184, 184, 1);
      box-shadow: 2px 2px 2px -2px rgba(184, 184, 184, 1);

      &:focus {
        outline: none;
      }
    }

    select option {
      padding-right: 1em;
      margin-bottom: 2em;
      border: 0px;
      outline: 0px;
    }

    select {
      width: 260px;
      display: block;
      padding: 0.2em;
      margin-bottom: 2em;
      border: 0px;
      outline: 0px;
      height: 30px;
    }

    textarea {
      width: 254px;
      height: 100px;
      display: block;
      padding: 0.2em;
      border: none;
      -webkit-box-shadow: 2px 2px 2px -2px rgba(184, 184, 184, 1);
      -moz-box-shadow: 2px 2px 2px -2px rgba(184, 184, 184, 1);
      box-shadow: 2px 2px 2px -2px rgba(184, 184, 184, 1);
    }
  }

  span {
    color: red;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

.slideCarousel {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $image-buttons;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  &:hover {
    color: $image-buttons-hover;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: $caption-text;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: $numbertext;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
